<div class = "header">
			<a href="/"> <img class="logo" src = "/images/logo-fix.png" alt="LOGO"> </a>
			<div class="nav">
				<a href="/">Home</a>
				<a href="/shops/list">전체 수리점</a>
				<a href="/welcome/faq">고객센터</a>
			</div>
		</div>