<!DOCTYPE html>
<html>
	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<%= stylesheet_link_tag "CSS_1.css" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Do+Hyeon&family=Gugi&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<title>Device search step 2, select your model among APPLE devices</title>
	</head>

	<body>
		<%= render 'header' %>
	<hr class="border-bottom"/>
	
			<table class="brand">
				<thead>
					<tr>
						<td colspan="3"> <img class="logo_" src="/images/apple_logo.png" alt="APPLE"> </td>
					</tr>
                    <tr> <th colspan="3">Apple</th></tr>
				</thead>
				<tbody>
					<td>
                    <br>
                    <form class="form-size" action="/search/apple2/" method="GET">
							<input type="radio" name="series" id="SE, before 5S" value="SE, before 5S">
							<label for="5s">SE, before 5S</label>
	                        <br>
							<input type="radio" name="series" id="6, 7, 8" value="6, 7, 8">
							<label for="6_8">6, 7, 8</label>
						    <br>
							<input type="radio" name="series" id="after X" value="after X">
							<label for="X">after X</label>
                            <br>
                            <br>
						<section class="submission">
								<input type="submit" value="Select">
                        </section>
                    </form>
                    </td>
			</tbody>
		</>
	</body>
</html>
