<!DOCTYPE html>

<html>
	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<%= stylesheet_link_tag "CSS_1.css" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Do+Hyeon&family=Gugi&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<title>Device search step 2, select your model among APPLE devices</title>
	</head>

	<body>
		<%= render 'header' %>
	

		<table  >
			<thead>
				<tr>
					<td colspan="3"> <img class="logo_" src="/images/apple_logo.png" alt="APPLE"> </td>
				</tr>
				<tr>
					<th colspan="3"><%= @series %></th>
				</tr>
			</thead>
			<tbody>
				 <td>
			        <form class="form-size" action="/search/damage/">
				     	<label for="phone"></label>
  				    		<select class="custom-select" name="phone">
							  	<optgroup id="SE, before 5S" disabled hidden>
									<option value="i5">5</option>
									<option value="i5s">5s</option>
									<option value="ise">SE</option>
									<option value="ise2">SE2</option>
								</optgroup>
								<optgroup id="6, 7, 8" disabled hidden>
									<option value="i6">6</option>
									<option value="i6+">6+</option>
									<option value="i6s">6S</option>
									<option value="i6s+">6S+</option>
									<option value="i7">7</option>
									<option value="i7+">7+</option>
									<option value="i8">8</option>
									<option value="i8+">8+</option>
								</optgroup>
								<optgroup id="after X" disabled hidden>
									<option value="ix">X</option>
									<option value="ixr">XR</option>
									<option value="ixs">XS</option>
									<option value="ixsm">XS MAX</option>
									<option value="i11">11</option>
									<option value="i11p">11 PRO</option>
									<option value="i11pm">11 PRO MAX</option>
								</optgroup>
							<script type="text/javascript"></script>
							<script>
								var selected = document.getElementById('<%= @series %>');
								selected.disabled= false;
								selected.hidden = false;
							</script>
          					<br>
          					<br>
			        	<section class="submission">
        					<input type="submit" value="Select">
        				</section>
        			</form>
        			</td>
        		</tbody>
			
		<hr class="border-bottom"/>

	</body>
</html>