<!DOCTYPE html>
<html>
	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<%= stylesheet_link_tag "CSS_1.css" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Do+Hyeon&family=Gugi&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<title>Device search step 2, select your model among APPLE devices</title>
	</head>

	<body>
		<%= render 'header' %>

		<table class="split">
			<form class="form-size" action="/search/apple2/">
			<thead>
				<tr>
					<td colspan="3"> <img class="logo_" src="/images/apple_logo.png" alt="SAMSUNG"> </td>
				</tr>
				
				<tr>
					<section class="series-selection">
					<th>
						<input type="radio" name="series" id="5s" value="SE, before 5S">
					    <label for="5s">SE, before 5S</label>
					</th>
					<th>
						<input type="radio" name="series" id="6_8" value="6, 7, 8">
					    <label for="6_8">6, 7, 8</label>
					</th>
					<th>
						<input type="radio" name="series" id="X" value="after X">
					    <label for="X">after X</label>
					</th>
				</section>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3"> 
						<section class="submission">
        					<input type="submit" value="Select">
        				</section>
        			</td>
        		</tr>
        	
        </tbody>
		</form>
			
		<hr class="border-bottom"/>

	</body>
</html>