<!DOCTYPE html>
<html>
	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<%= stylesheet_link_tag "CSS_1.css" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Do+Hyeon&family=Gugi&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<title>Device search step 2, select your model among LG devices</title>
	</head>

	<body>
		<%= render 'header' %>

		<table class="split">
			<thead>
				<tr>
					<td colspan="3"> <img class="logo_" src="/images/lg_logo.png" alt="LG"> </td>
				</tr> 
				<tr>
					<th>V Series</th>
					<th>Q Series</th>
					<th>X Series</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
					<form class="form-size" class="form-size" action="/search/damage/">
					<section class="model-selection">
				     	<select class="custom-select" class="custom-select" name="phone">
				     		<option value="v60">60</option>
			            	<option value="v50">50</option>
			            	<option value="v40">40</option>
			            	<option value="v35">35</option>
			            	<option value="v30">30</option>
			            	<option value="v20">20</option>
			            	<option value="v10">10</option>
						</select>
			            <br>
			         	<span>+?</span>
          				<input type="radio" name="max" id="yes" value="yes">
			          	<label for="yes">Yes</label>
          				<input type="radio" name="max" id="no" value="no">
          				<label for="no">No</label>
          				<br>
          				<span>S?</span>
          				<input type="radio" name="pro" id="yes" value="yes">
			          	<label for="yes">Yes</label>
          				<input type="radio" name="pro" id="no" value="no">
          				<label for="no">No</label>
			        </section>
			        <section class="submission">
        			<input type="submit" value="Submit">
        			</section>
        		</form>
			        </td>

					<td>
					<form class="form-size" action="/search/damage/">
					<section class="model-selection">
				     <label for="phone"></label>
				     	<select class="custom-select" name="phone">
				     		<option value="q51">51</option>
			            	<option value="q70">70</option>
			            	<option value="q9">9</option>
			            	<option value="q8">8</option>
			            	<option value="q7">7</option>
			            	<option value="q6">6</option>
						</select>
			            <br>
			        </section>
			        <section class="submission">
        			<input type="submit" value="Submit">
        			</section>
        		</form>
        	</td>
					<td>
						<form class="form-size" action="/search/damage/">
						<section class="model-selection">
				     	<label for="phone"></label>
				     	<select class="custom-select" name="phone">
				     		<option value="x2a">2(2019)</option>
			            	<option value="x6">6</option>
			            	<option value="x4">4</option>
			            	<option value="x2b">2(2015)</option>
			            	<option value="x5">5</option>
			            	<option value="x500">500</option>
						</select>
			            <br>
			        </section>
			        <section class="submission">
        			<input type="submit" value="Submit">
        			</section>
        		</form>
        	</td>
				</tr>  
			</tbody>
		<hr/>

	</body>
</html>