<!DOCTYPE html>
<html>
	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<%= stylesheet_link_tag "CSS_1.css" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Do+Hyeon&family=Gugi&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<title>Device search step 2, select your model among SAMSUNG devices</title>
	</head>

	<body>
		<%= render 'header' %>

		<table class="split">
			<thead>
				<tr>
					<td colspan="3"> <img class="logo_" src="/images/samsung_logo.png" alt="SAMSUNG"> </td>
				</tr>
				<tr>
					<th colspan="3"><%= @series %></th>
				</tr>
			</thead>
			<tbody>
				 <td>
			        <form class="form-size" action="/search/damage/">
						<section class="model-selection">
				     		<label for="phone"></label>
  				    		<select class="custom-select" name="phone">
							  	<optgroup id="Galaxy S" disabled hidden>
									<option value="s8">8</option>
									<option value="s8+">8+</option>
									<option value="s9">9</option>
									<option value="s9+">9+</option>
									<option value="s10">10</option>
									<option value="s10+">10+</option>
									<option value="s10e">10e</option>
									<option value="s20">20</option>
									<option value="s20+">20+</option>
									<option value="s20u">20 ultra</option>

								</optgroup>
								<optgroup id="Galaxy Note" disabled hidden>
									<option value="nfe">FE</option>
									<option value="n8">8</option>
									<option value="n9">9</option>
									<option value="n10">10</option>
									<option value="n10+">10+</option>
								</optgroup>
								<optgroup id="Galaxy A" disabled hidden>
									<option value="a30">30</option>
									<option value="a40">40</option>
									<option value="a50">50</option>
									<option value="a8">8</option>
									<option value="a9">9</option>
									<option value="a10">10</option>
								</optgroup>
							<script type="text/javascript"></script>
							<script>
								var selected = document.getElementById('<%= @series %>');
								selected.disabled= false;
								selected.hidden = false;
							</script>
          					<br>
          					<br>
			    	    </section>
			        	<section class="submission">
        					<input type="submit" value="Submit">
        				</section>
        			</form>
        			</td>
        		</tbody>
			
		<hr/>

	</body>
</html>