<!DOCTYPE html>
<html>
	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<%= stylesheet_link_tag "CSS_1.css" %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Do+Hyeon&family=Gugi&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<title>Device search step 2, select your model among SAMSUNG devices</title>
	</head>

	<body>
		<%= render 'header' %>

		<table  >
			<thead>
				<tr>
					<td colspan="3"> <img class="logo_" src="/images/samsung_logo.png" alt="SAMSUNG"> </td>
				</tr>
				<form class="form-size" action="/search/samsung2/" method="GET">
				<tr>
					<section class="series-selection">
					<th>
						<input type="radio" name="series" id="Galaxy S" value="Galaxy S">
					    <label for="GxyS">Galaxy S</label>
					</th>
					<th>
						<input type="radio" name="series" id="Galaxy Note" value="Galaxy Note">
					    <label for="GxyN">Galaxy Note</label>
					</th>
					<th>
						<input type="radio" name="series" id="Galaxy A" value="Galaxy A">
					    <label for="GxyA">Galaxy A</label>
					</th>
				</section>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3"> 
						<section class="submission">
        					<input type="submit" value="Select">
        				</section>
        			</td>
        		</tr>
        	</tbody>
        </form>
			
		<hr class="border-bottom"/>

	</body>
</html>
