<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag "CSS_1.css" %>
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Do+Hyeon&family=Gugi&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Title Page Demo</title>
	</head>

	<body>
		<%= render 'header' %>

		<div>
			<img class="backgr" src="/images/bgp.png" alt="Background1">
			<a class="button" href="/search/intro">Let's go!</a>
		</div>


		<hr/>

	</body>
</html>